/*index页面头部样式*/

.header-wrapper,
.navbar-static-top {
    background: #344052;
}

.header-wrapper {
    border-bottom: 1px solid #101010;
}

.navbar-header .logo-name {
    background: url("../../../images/skin/skin_chip/skin0/logo.png") no-repeat center right;
}

.navbar-header .logo-info {
    background: url("../../../images/skin/skin_chip/skin0/logo1.png") no-repeat center left;
}


/*隐藏菜单*/

.menu-bar {
    border: 1px solid #333;
    background: #344052;
}

.navbar-toggle.menu-bar {
    color: #fff;
}

.menu-bar span {
    border: 1px solid #fff;
}


/*头部菜单*/

.person-operate .borderLeft::before {
    background: #555;
}

.person-operate .borderRight::after {
    background: #555;
}


/*个人设置*/

.hide-person-operate {
    border-top: 1px solid #101010;
    background: #344052;
}


/*.hide-person-operate li {
    border-bottom: 1px solid #101010;
}*/

.hide-person-operate li:hover {
    background: #434e62;
}


/*左侧导航栏样式*/

.navbar-static-side,
#side-menu,
.nav-second-level {
    background: #344052 !important;
}