* {
    margin: 0;
    padding: 0
}

.mt20 {
    margin-top: 20px
}

.mb20 {
    margin-bottom: 20px
}

body {
    background: #fff
}

.navTitle {
    width: 100%;
    height: 60px;
    background: #344052
}

.navLogo {
    width: 348px;
    height: 100%
}

.navLogo a {
    width: 425px;
    height: 60px;
    display: inline-block;
    background: url(/src/images/logo/logo.png) 15px center no-repeat;
    background-size: auto 30px
}

.container {
    width: 62.5%;
    margin: 0 auto
}
.container .container_p{
    color:#666;
    line-height: 2;
}
.title {
    text-align: center
}

.container .container_p,
.min_title h4,
.text_content h4,
.text_content p,
.title p {
    word-break: normal;
    font-size: 18px
}

.title p {
    /*color: #333;*/
    line-height: 140%
}

.text_content {
    word-break: normal
}


.text_content p {
    line-height: 200%;
    color: #666
}

/*底部*/
.bottom{
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
}