* {
    margin: 0px;
    padding: 0px
}

.pd {
    padding: 4px 0 4px 12px
}

#peoplepage {
    background: #edf1f2;
    margin-top: 15px
}

#peoplepage .container-fluid {
    overflow: hidden;
    padding-left: 9px;
    margin-top: -5px;
}

#peoplepage .container-fluid .search_item_wrapper {
    padding-bottom: 15px;
    margin-bottom: 11px;
    background: #fff;
    border-bottom: 1px solid #cbccce;
    border-radius: 6px;
    box-shadow: 0px 1px 8px #e3e3e3;
    margin-left: -8px;
}

#peoplepage .container-fluid .content {
    overflow: hidden;
}

#peoplepage .container-fluid .content .treeLeft {
    width: 300px;
    background: #fff;
    float: left;
    height: 804px;
    border-radius: 6px;
    box-shadow: 0 1px 8px #e3e3e3
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson {
    width: 280px;
    overflow-x: auto;
    padding: 0px 0px 20px 10px
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft {
    padding: 0;
    width: 100%;
    padding-top: 20px
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li {
    line-height: 26px
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li #organ_list_1_a {
    font-weight: bold
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li a {
    display: block;
    height: 26px;
    background: #f3f3f3;
    margin-bottom: 10px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li a:hover {
    text-decoration: none
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li a.curSelectedNode {
    background: #edf7ff;
    border: 1px solid #5ab7fc;
    height: 26px
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span {
    font-size: 14px;
    color: #666
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li #organ_list_1_span {
    color: #333
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.switch {
    width: 18px;
    height: 18px;
    float: right;
    margin-top: 3px
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.noline_open,
#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.bottom_open,
#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.root_open,
#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.center_open {
    background: url(/src/images/enterprise/add.png) center no-repeat
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.noline_close,
#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.bottom_close,
#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.root_close,
#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li span.button.center_close {
    background: url(/src/images/enterprise/subtract.png) center no-repeat
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li ul {
    padding: 0
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li ul li {
    padding-left: 15px;
    overflow: hidden;
    background: url(/src/images/enterprise/center.png) 5px 0px repeat-y
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li ul li:first-child {
    background: url(/src/images/enterprise/start.png) 5px 13px no-repeat
}

#peoplepage .container-fluid .content .treeLeft .treeLeftson .ztreeLeft li ul li:last-child {
    background: url(/src/images/enterprise/end.png) 5px -23px no-repeat
}

#peoplepage .container-fluid .content .treeRight {
    width: auto;
    margin-left: 315px
}

#peoplepage .container-fluid .content .right_wrapper {
    margin-top: 0px
}

#peoplepage .container-fluid .content .search_wrapper {
    margin-right: -50px
}

#peoplepage .container-fluid .content #toolbar .export-all,
#peoplepage .container-fluid .content #toolbar .inviteuser {
    margin: 0 10px;
    color: #53b5fc;
    font-size: 14px;
    cursor: pointer
}

#peoplepage .container-fluid #table .th-inner {
    text-align: center
}

#peoplepage .view {
    margin: 0px 5px
}

#peoplepage .view i {
    display: inline-block;
    width: 22px;
    height: 16px;
    margin-left: 10px;
    background: url(/src/images/event/look.png) no-repeat;
    vertical-align: middle
}

#peoplepage .view i:hover {
    background: url(/src/images/event/look_h.png) no-repeat
}

#peoplepage .inviter i {
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url(/src/images/enterprise/invite.png) no-repeat;
    vertical-align: middle
}

#peoplepage .inviter i:hover {
    background: url(/src/images/enterprise/invite1.png) no-repeat
}

#peoplepage .edituser {
    margin: 0px 5px
}

#peoplepage .edituser i {
    display: inline-block;
    width: 22px;
    height: 21px;
    background: url(/src/images/event/modify.png) no-repeat;
    vertical-align: middle
}

#peoplepage .edituser i:hover {
    background: url(/src/images/event/edit_h.png) no-repeat
}

#peoplepage .remove {
    margin: 0px 5px
}

#peoplepage .remove i {
    display: inline-block;
    width: 22px;
    height: 21px;
    background: url(/src/images/task/closed.png) no-repeat;
    vertical-align: middle
}

#peoplepage .remove i:hover {
    background: url(/src/images/task/closed_h.png) no-repeat
}

#peoplepage .search_btn_right {
    right: 15px;
    position: absolute;
    height: 36px;
    color: white;
    background: #58b7f7;
    width: 80px;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    float: left;
    cursor: pointer
}

.fixed-table-body {
    border: 1px solid #ddd
}

.btn1 {
    background: #59b6fc;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 5px;
    margin: 5px
}

.table {
    border: 1px solid #dddddd
}

.join {
    color: #fff;
    background: #59b6fc;
    width: 70px;
    vertical-align: middle;
    padding: 5px;
    border-radius: 4px
}

.frozen {
    color: #fff;
    background: #fdad3e;
    width: 70px;
    padding: 5px;
    vertical-align: middle;
    border-radius: 4px
}

.nojoin {
    color: #fff;
    background: #cbcbcb;
    vertical-align: middle;
    width: 70px;
    border-radius: 4px;
    padding: 5px
}

.cancelbtn {
    background: #fff;
    color: #666
}

.frozebtn {
    background: #FBAD3E
}

.removebtn {
    background: #FF3D29
}

* {
    margin: 0px;
    padding: 0px
}

.alignRight {
    text-align: right
}

.mt25 {
    margin-top: 25px
}

.mt50 {
    margin-top: 50px
}

.ml5 {
    margin-left: 5px
}

.mr15 {
    margin-right: 15px
}

.mt80 {
    margin-top: 80px
}

.pl16 {
    padding-left: 16px
}

.rightDiv img {
    width: 20px;
    height: 20px;
    margin-top: -5px
}

.ml39 {
    margin-left: 39px
}

.ml65 {
    margin-left: 65px
}

.modal-lg .modal-content {
    width: 890px;
    height: 610px;
    background: #E7E9ED;
    margin: 0 auto
}

.modal-lg .modal-content .modal-header {
    width: 890px;
    height: 35px;
    background: #344052;
    color: #fff;
    margin: -1px
}

.modal-lg .modal-content .modal-header h3 {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    margin: -15px
}

.modal-lg .modal-content .modal-header a {
    color: #fff;
    margin-top: 6px;
    margin-right: 10px;
    font-weight: none;
    opacity: 1
}

.modal-lg .modal-content .modal-body {
    width: 850px;
    height: 490px;
    background: #fff;
    margin: 19px
}

.modal-lg .modal-content .modal-body .leftAndRight {
    width: 800px;
    height: 350px;
    margin: 60px auto
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleleft {
    height: 335px;
    margin-left: 25px;
    float: left
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleleft img {
    width: 18px;
    height: 18px;
    margin-top: 5px;
    margin-left: 5px
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleleft .leftspanstyle {
    width: 80px;
    color: #666;
    /* letter-spacing: 26px; */
    float: left;
    line-height: 30px
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleleft img {
    cursor: pointer;
    width: 19px;
    height: 19px;
    float: right;
    margin-right: -26px;
    margin-top: 6px
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleleft .leftinputstyle {
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    width: 265px;
    float: left
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleleft .leftspan2style {
    display: block;
    color: red;
    height: 25px;
    clear: both;
    margin-left: 40px
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleright {
    width: 370px;
    height: 335px;
    float: right
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleright .rightspanstyle {
    color: #666;
    width: 80px;
    /* letter-spacing: 26px; */
    float: left;
    line-height: 30px
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleright .rightinputstyle {
    width: 265px;
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    padding-left: 15px
}

.modal-lg .modal-content .modal-body .leftAndRight .peopleright .leftspan2style {
    display: block;
    height: 25px;
    color: red;
    clear: both;
    margin-left: 110px
}

.modal-lg .modal-content .modal-footer {
    text-align: center;
    background: #344052;
    height: 50px;
    margin: -1px
}

.modal-lg .modal-content .modal-footer button {
    height: 36px;
    border: none;
    width: 120px;
    margin: -9px 35px 0 30px;
    font-size: 16px
}

.modal-lg .modal-content .modal-footer .submit {
    background: #59b6fc;
    color: #fff
}

.modal-lg .modal-content2 {
    width: 730px;
    height: 545px;
    background: #E7E9ED;
    margin: 0 auto
}

.modal-lg .modal-content2 .modal-header {
    height: 35px;
    background: #344052;
    color: #fff
}

.modal-lg .modal-content2 .modal-header h3 {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    margin: -15px
}

.modal-lg .modal-content2 .modal-header a {
    color: #fff;
    margin-top: 6px;
    margin-right: 10px;
    font-weight: none;
    opacity: 1
}

.modal-lg .modal-content2 .modal-body {
    width: 690px;
    height: 445px;
    background: #fff;
    margin: 10px 20px
}

.modal-lg .modal-content2 .modal-body .peopleleft {
    width: 361px;
    margin: 50px auto
}

.modal-lg .modal-content2 .modal-body .peopleleft .leftspanstyle {
    color: #666;
    letter-spacing: 26px;
    float: left;
    line-height: 30px
}

.modal-lg .modal-content2 .modal-body .peopleleft .leftspanstyle span {
    display: inline-block;
    float: left;
    color: red;
    letter-spacing: 8px;
    font-size: 18px;
    line-height: 40px
}

.modal-lg .modal-content2 .modal-body .peopleleft .leftinputstyle {
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    width: 265px;
    display: inline-block;
    float: left
}

.modal-lg .modal-content2 .modal-body .peopleleft img {
    cursor: pointer;
    width: 19px;
    height: 19px;
    float: right;
    margin-right: -26px;
    margin-top: 6px
}

.modal-lg .modal-content2 .modal-body .peopleleft .leftspan2style {
    color: red;
    margin-left: 5px
}

.modal-lg .modal-content2 .modal-footer {
    text-align: center;
    background: #344052;
    height: 50px;
    margin: -1px
}

.modal-lg .modal-content2 .modal-footer button {
    height: 36px;
    border: none;
    width: 120px;
    margin: -9px 35px 0 30px;
    font-size: 16px
}

.modal-lg .modal-content2 .modal-footer .submit {
    background: #59b6fc;
    color: #fff
}

.modal-content1 {
    width: 890px;
    height: 415px;
    background: #E7E9ED;
    margin: 0 auto
}

.modal-content1 .modal-header {
    height: 35px;
    background: #344052;
    color: #fff
}

.modal-content1 .modal-header h3 {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    margin: -15px
}

.modal-content1 .modal-header a {
    color: #fff;
    margin-top: 6px;
    margin-right: 10px;
    font-weight: none;
    opacity: 1
}

.modal-content1 .modal-body {
    width: 850px;
    height: 230px;
    background: #fff;
    margin: 20px 20px 80px 20px
}

.modal-content1 .modal-body table {
    width: 410px;
    height: 200px;
    float: left;
    margin: 0 auto;
    border: 1px solid #ececec
}

.modal-content1 .modal-body table tr {
    border-bottom: 1px solid #ececec
}

.modal-content1 .modal-body table .font {
    padding-left: 5px
}

.modal-content1 .modal-body table .bgwidth {
    width: 125px;
    /* letter-spacing: 8px; */
    height: 40px;
    border-right: 1px solid #ececec;
    background: #F7F7F7;
    text-align: center;
    line-height: 40px
}

.modal-content1 .modal-footer {
    text-align: center;
    background: #344052;
    height: 50px
}

.modal-content1 .modal-footer button {
    height: 36px;
    border: none;
    width: 120px;
    margin: -9px 35px 0 30px;
    font-size: 16px
}

.modal-content1 .modal-footer .submit {
    background: #59b6fc;
    color: #fff
}

.modal-content3 {
    width: 730px;
    height: 610px;
    background: #E7E9ED;
    margin: 0 auto
}

.modal-content3 .modal-header {
    height: 35px;
    background: #344052;
    color: #fff
}

.modal-content3 .modal-header h3 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    margin: -15px
}

.modal-content3 .modal-header a {
    color: #fff;
    margin-top: 6px;
    margin-right: 10px;
    font-weight: none;
    opacity: 1
}

.modal-content3 .modal-body {
    width: 690px;
    height: 506px;
    background: #fff;
    margin: 10px 20px
}

.modal-content3 .modal-footer {
    text-align: center;
    background: #344052;
    height: 50px
}

.modal-content3 .modal-footer button {
    height: 36px;
    border: none;
    width: 120px;
    margin: -9px 35px 0 30px;
    font-size: 16px
}

.modal-content3 .modal-footer .submit {
    background: #59b6fc;
    color: #fff
}

.table {
    border: 1px solid #fff !important
}

.tablebg {
    border: 1px solid #4aaffb;
    background: #edf7ff
}

td {
    white-space: nowrap;
    width: 60%;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    overflow: hidden
}

.fixed-table-container {
    border: none
}

.bootstrap-table {
    margin-bottom: 20px
}

.disabled-btn {
    color: #fff;
}

.container-fluid.bootstropd{
    min-height: 200px;
}
