 
body{
    margin: 0px;
    padding: 0px;
}

.service-status{
    width: 100%;
}
.service-status .btn{
    line-height: 1.9;
    width:33.333%;
}
.radius:first-child
{
    border-radius: 16px 0 0 16px;
}
.btn-group{
    color: #999;
}
.radius{
    border: 1px solid #e3e3e3;
    color: #999;
}
.radius:hover {
    background: #edf7ff;
    border: 1px solid #e3e3e3;
}
.radius:focus,
.radius.focus,
.radius:active:hover,
.radius.active:hover,
.radius:active:focus,
.radius.active:focus,
.radius:active,
.radius.active
{
    border-color: #58b7f7;
    background: #edf7ff;
    color: #58b7f7;
    outline:0;
}

@media screen and (max-width: 1500px){
    .form-horizontal .formSearch-content {
        flex-basis: 100%;
    }
}
.row-content .row-lab:last-child{
    justify-content: center !important;
}
.keyword-search .search-keyword {
    flex-basis: 100%;
    justify-content: flex-end;
    /* border: 1px solid red; */
}

.keyword-search .search-reset {
    flex-basis: 20%;
    /* border: 1px solid red; */
}

.search-keyword input {
    flex-basis: 60%;
    width: 100%;
    float: left;
    text-indent: 1em;
}

input[type="text"] {
    height: 100%;
    width: 80%;
    color: #333;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #e3e3e3;
}

.search-keyword .submit-btn {
    /* flex-basis: 30%; */
    width: 80px;
    height: 100%;
    line-height: 32px;
    text-align: center;
    color: white;
    background: #58b7f7;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
}

.keyword-search .search-reset div {
    width: 80px;
    height: 100%;
    line-height: 32px;
    text-align: center;
    color: white;
    background: #58b7f7;
    border-radius: 16px;
    cursor: pointer;
}