body.viewer-open{
    overflow:hidden
}
.viewWindow{
    position:fixed;
    width:100%;height:100%;
    z-index:2017;
    background:rgba(0,0,0,0.75) !important;
    top:0
}
.viewWindow .viewClose{
    width:80px;
    height:80px;
    border-radius:50%;
    position:absolute;
    right:-30px;
    top:-35px;
    background-color:rgba(0,0,0,0.5);
    cursor:pointer;
    color:#fff
}
.viewWindow .viewClose i{
    width:20px;
    height:20px;
    color:#fff;
    position:absolute;
    top:45px;
    left:15px;
    font-size:30px;
    line-height:20px
}
.viewWindow .viewLeft,.viewWindow .viewRight{
    width:80px;
    height:80px;
    position:absolute;
    border-radius:50%;
    background-color:rgba(0,0,0,0.5);
    top:50%;
    margin-top:-40px;
    color:#fff;
    font-size:30px;
    text-align:center;
    line-height:80px;
    cursor:pointer
}
.viewWindow .viewLeft{
    left:30px
}
.viewWindow .viewRight{
    right:30px
}
.viewWindow .viewMain{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden
    
}
.viewWindow .viewMain img{
    position:absolute;
    left:50%;
    top:50%;
    width:56px;
    height:56px;
    margin-left:-28px;
    margin-top:-28px
}
li{
    margin: 0 6px 10px 0 !important;
    }

 .suspension{
        height:50px;
        width:50px;
        position: absolute;
        text-align:center;
    }
    .suspension-left{
        left:8px;
    }
    .suspension-right{
        right:8px;
    }
    .fa {
        color: #aaa;
        opacity:0.5;
    }