 /*通用样式*/
 
 body {
     background: #edf1f2;
 }
 
 ul,
 li {
     list-style: none;
     padding: 0;
     margin: 0;
 }
 
 a {
     text-decoration: none;
 }
 
 .flex-box {
     display: -webkit-flex;
     display: flex;
     flex-wrap: nowrap;
 }
 
 .welcom-box {
     padding: 8px;
 }
 
 .welcom-header {
     width: 100%;
     line-height: 40px;
     padding: 10px;
     background: #fff;
     flex-wrap: nowrap;
     justify-content: space-between;
     border-radius: 4px;
 }
 
 .header-model {
     flex-basis: 24%;
     border-radius: 4px;
     padding: 0 10px;
     color: #fff;
     background: #59b6fc;
     /*border: 1px solid red*/
 }


 /*内容部分*/
 
 .content-main {
     align-content: center;
     justify-content: space-between;
     margin-top: 10px;
     flex-wrap: nowrap;
     min-height: 500px;
 }
 .content-main .main-left{
     flex-basis: 79.5%;
     /*background-color: skyblue;*/
     align-content: space-between;
     /*flex-wrap: wrap;*/
     flex-direction: column;
 }
  .content-main .main-right{
     flex-basis: 20%;
     background-color: #fff;
     padding: 5px;
 }

 /*左边 区域上方部分*/
.main-left .left-box-top{
    flex-basis: 100%;
    background-color: #fff;
    padding: 5px;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    /*margin-bottom: 10px;*/
    min-height: 220px;
    /*background-color: lightpink;*/
}

/*左边区域下方部分*/
.main-left .left-box-bottom{
    flex-basis: 30%;
    background-color: #fff;
    padding: 5px;
    /*flex-wrap: wrap;*/
     flex-direction: column;
      min-height: 100px;
    /*background-color: lightblue;*/
}

/*增长曲线*/
/*.enterprise-msg .public-right .user-graph{
    background-color: skyblue;
}*/

/*左边区域上下两部分中的内容部分*/
.public-main{
    width: 100%;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*border: 1px solid #000;*/
}
.public-main.report-main{
    flex-basis: 100%;
    padding-left: 10px;
}
.report-msg{
    flex-grow:1;
    border-bottom: 1px dashed #ccc;
    padding-top: 10px;
    height:50%;
}
.report-msg ul{
    flex-basis: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.report-msg ul li{
    margin-top: 5px;
    margin-bottom: 10px;
}
.report-msg .graph{
     flex-basis: 38%;
}
/*覆盖h+框架进度条颜色*/
.progress-bar {
    background-color: rgb(46, 141, 237);
}
/*.public-left{
    flex-basis: 20%;
    border-right:1px solid #eee;
    padding: 10px 20px;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: center;
     align-content: flex-start;
     border-bottom: 0px solid #eee;
}
.public-right{
    flex-basis: 80%;
    flex-wrap: wrap;
    padding: 10px 20px;
}*/

/*.overall-box {
     flex-basis: 100%;
     height: 40px;
     line-height: 40px;
     background: #eaf7fd;
     border-radius: 4px;
     white-space: wrap;
     margin-top: 10px;
 }*/
.header-title {
     flex-basis: 40%;
     white-space: nowrap;
     text-align: center;
     font-size: 16px;
 }
 
 .header-content {
     flex-basis: 60%;
     text-align: center;
     font-size: 16px;
     white-space: nowrap
 }




/*公共部分*/
.common-title {
     width: 100%;
     height: 40px;
     line-height: 40px;
     color: #333;
     border-bottom: 1px solid #eee;
 }
 
.title-left {
     flex-basis: 80%;
     text-align: left;
     /*border: 1px solid pink;*/
 }
 
.title-right {
     flex-basis: 20%;
     /*border: 1px solid blue;*/
     text-align: right
}
 
.title-style {
     font-size: 16px;
 }
 
.left-bg::before {
     display: inline-block;
     width: 5px;
     height: 25px;
     content: "";
     background: #f79324;
     margin-right: 5px;
     vertical-align: middle
 }
 
.right-arrows {
     font-size: 12px;
     color: #59b6fc;
 }
 
.right-arrows::after {
     display: inline-block;
     content: ">";
     color: #59b6fc;
     font-size: 12px;
     transform: scaleY(1.5);
     margin-left: 5px;
 }

 /*消息内容*/
.news-main {
     width: 100%;
 }

 /*消息列表样式*/
 .news-lists {
     width: 100%;
     font-size: 12px;
     overflow: hidden;
     /*background: yellow*/
 }
 
 .news-lists li {
     height: 80px;
     padding: 5px 0;
     border-bottom: 1px solid #eee;
     position: relative
 }
 
 .news-lists li a:hover {
     color: #fff
 }
 
 .news-lists li p {
     line-height: 16px;
 }
 
 .news-lists li p:first-of-type span:first-of-type {
     margin-right: 10px;
 }
 
 .news-lists li p:nth-of-type(2) {
     font-size: 14px;
     color: #444;
     /*font-weight: bold*/
 }
 
 .news-lists li p:nth-of-type(3) {
     width: 70%;
     /*border: 1px solid red;*/
     overflow: hidden;
     text-overflow: ellipsis;  /*设置超过隐藏  */
     overflow: hidden;
     white-space: nowrap;
     
 }
 
 .news-lists li:last-of-type {
     border-bottom: 0;
 }
 
 .news-lists .list-line1 {
     line-height: 20px;
 }
 
 .news-lists .news-check-btn {
     position: absolute;
     right: 0;
     bottom: 10px;
     display: block;
     width: 60px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     color: #fff;
     font-size: 12px;
     border-radius: 4px;
     background: #2e8ded;
     z-index: 3
 }

@media (max-width:1300px) {
   .news-lists li p:nth-of-type(3){
         width: 70%;
         /*display: none;*/
         text-overflow: ellipsis;  /*设置超过隐藏  */
         overflow: hidden;
         white-space: nowrap;
   }
   .news-lists li p:nth-of-type(3):hover{
        text-overflow:inherit;
        overflow:visible; /*设置鼠标hover显示全部  */
   }
   .news-lists .news-check-btn {
    position: absolute;
    right: 0;
    bottom: 10px;
    display: block;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    background: #2e8ded;
    z-index: 3;  
}

/*.overall-box {
     flex-basis: 100%;
     height: 30px;
     line-height: 30px;
     background: #eaf7fd;
     border-radius: 3px;
     white-space: wrap;
     margin-top: 8px;
 }*/
.header-title {
     flex-basis: 40%;
     white-space: nowrap;
     text-align: center;
     font-size: 14px;
 }
 
 .header-content {
     flex-basis: 60%;
     text-align: center;
     font-size: 14px;
     white-space: nowrap
 }


}
 @media (max-width:1000px) {
     /*头部样式变化*/
     .welcom-header {
         /*border: 1px solid red;*/
         flex-wrap: wrap;
         justify-content: space-between;
     }
     .welcom-header .header-model {
         flex-basis: 47%;
     }
     .welcom-header .header-model:first-child,
     .welcom-header .header-model:nth-child(2) {
         margin-bottom: 5px;
     }
     .welcom-header .header-model:last-child {
         margin-top: 5px;
     }





 }
 /*媒体查询，使其尽量可以适应手机*/
 
 @media (max-width: 800px) {
     .welcom-header .header-model {
         flex-basis: 100%;
         margin-bottom: 5px;
     }
     .welcom-header .header-model:last-child {
         margin-top: 0px;
     }
     .status-main {
         flex-wrap: wrap;
     }
     
 }